<h1>सहरी विकास मन्त्रालय</h1>
<br>
<table border="1" style="width:70%" >
<tr>
            <td>महाशाखा </td>
            <td>शाखा </td>
            <td>कर्मचारी स‌केत न‌</td>
            <td>नाम </td>
            <td>पद </td>
</tr>
</table>

<table border="1" style="width:70%">
{% for employee in employee_list %}
<tr>
            <td>{{employee.section.headsection.head_section_name}}</td>
            <td>{{employee.section.section_name}}</td>
            <td>{{employee.emp_id}}</td>
            <td>{{employee.emp_first_name}} {{employee.emp_last_name}}</td>
            <td>{{employee.designation}}</td>
</tr>
{% endfor %}

</table>
