<head>
    <style>
        table, td {
            border:1px solid blue;
            border-collapse:collapse;
        }

        th, td {
                padding: 5px;
        }
        table {
            border-spacing:15px; 
        }

    </style>
</head>
    <body>
        <table align="center" style="width:80%" >
            <tr>
                <td style="background-color:lightblue; color:red; font-size:25" align="center" colspan="7">सहरी विकास मन्त्रालयका कर्मचारीहरु</td>
            </tr> 
            <tr style="background-color:lightgrey; color:blue; font-size:20">
                        <td> सि‍.न‌. </td>
                        <td>नाम </td>
                        <td>कर्मचारी स‌के‌‌त न‌</td>
                        <td>पद </td>
                        <td>सेवा</td>
                        <td>महाशाखा </td>
                        <td>शाखा </td>
            </tr>
            {% for employee in employee_list %}
                <tr>
                            <td>{{ loop.index }}</td>                            
                            <td>{{employee.emp_first_name}} {{employee.emp_last_name}}</td>
                            <td>{{employee.emp_id}}</td>
                            <td>{{employee.designation}}</td>
                            <td>{{employee.get_emp_sewa_display}}</td>
                            <td >{{employee.section.headsection.head_section_name}}</td>
                            <td>{{employee.section.section_name}}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
