
<!DOCTYPE html>
<html lang="en">
<head>
  <title>सहरी विकास मन्त्रालय</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" rel="home" href="/kapra/" >सहरी विकास मन्त्रालय</a>
        </div>
    </div>

    <div class="container">
       {% for ministry in  output  %}
             <h1><a href='{%url 'karmachari:headsection_listings' ministry.id %}' > {{ministry.ministry_name}} </h1>
        {% endfor %}
    </div>
</body>
</html>



