<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
     <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>

{% extends "admin/base.html" %}
{% load staticfiles %}
<script src="{% static "jquery.js" %}"></script>
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Site admin' %}{% endblock %}

{% block branding %}
    <div class="container">
        <h1 id="site-name">{% trans 'सहरी विकास मन्त्रालय' %} </h1>
    </div>

{% endblock %}
{% block nav-global %}{% endblock %}
</html>
